<div id="especeoiseau">
  <h1>Répertoire des espèces d'oiseaux</h1>

  <div class="divider"></div>

  <table
    id="ht"
    width="100%"
    class="table-striped table-hover"
  >
    <thead class="header">
      <th class="contentCell">Nom Scientifique</th>
      <th class="contentCell">Nom Commun</th>
      <th class="contentCell">Statut</th>
      <th class="contentCell">Prédateur</th>
      <th class="actionCell"></th>
    </thead>
    <tbody>
      <tr *ngFor="let especeoiseau of especeoiseaux; let i = index">
        <td class="contentCell">{{ especeoiseau.nomscientifique }}</td>
        <td
          class="contentCell"
          contenteditable="true"
          (blur)="changeEspeceoiseauNomcommun($event, i)"
        >
          {{ especeoiseau.nomcommun }}
        </td>
        <td
          class="contentCell"
          contenteditable="true"
          (blur)="changeEspeceoiseauStatutspeces($event, i)"
        >
          {{ especeoiseau.statutspeces }}
        </td>
        <td
        class="contentCell"
        contenteditable="true"
        (blur)="changeNomscientifiquecomsommer($event, i)"
      >
      {{ especeoiseau.nomscientifiquecomsommer || 'NULL' }}
      </td>
        <td class="actionCell">
          <button
            type="button"
            class="submitbtn"
            (click)="updateEspeceoiseau(i)"
          >
            <i class="fa fa-edit"></i>
          </button>
          <button
            type="button"
            class="deletebtn"
            (click)="deleteEspeceoiseau(especeoiseau.nomscientifique)"
          >
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>

      <tr class="blank_row">
        <td
          class="contentCell"
          contenteditable="true"
          placeholder="Nouveau nom sci."
          #newNomscientifique
        ></td>
        <td
          class="contentCell"
          contenteditable="true"
          placeholder="Nouveau nom com."
          #newEspeceoiseauNomcommun
        ></td>
        <td
          class="contentCell"
          contenteditable="true"
          placeholder="Nouveau statut"
          #newEspeceoiseauStatutspeces
        ></td>
        <td
          class="contentCell"
          class="contentCell"
          contenteditable="true"
          placeholder="Nouveau Prédateur"
          #newNomscientifiquecomsommer
        ></td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn" (click)="insertEspeceoiseau()">+</button>
</div>
