/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  --theme-green: #0b6623;
  --theme-green-hover: #08400b;
  --theme-green-placeholder: #3f704d;
  --theme-blue: #6e9eeb;
  --theme-blue-hover: #6e9eeb33;
  --theme-blue-placeholder: #6e9eebbb;
  --theme-lightblue: #14f2e0;
  --theme-lightblue-hover: #14f2e033;
  --theme-lightblue-placeholder: #14f2e0bb;
  --theme-background: #e2e2e2;
}

.btn-primary {
  margin-top: 10px;
}

html {
  background-color: #e2e2e2;
}
.notification-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}
